@font-face {
    font-family: 'LemonMikeItalic';
    src: url("../font/LemonMilkRegularItalic-L3AEy.otf") format("opentype");
}
@font-face {
    font-family: 'LemonMike';
    src: url("../font/LemonMilkLight-owxMq.otf") format("opentype");
}